<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>nx</display-name>
  <servlet>
    <servlet-name>aaa</servlet-name>
    <servlet-class>com.nx.servlet.aaa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nx.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.nx.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.nx.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.nx.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyServlet</servlet-name>
    <servlet-class>com.nx.servlet.VerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterServlet</servlet-name>
    <servlet-class>com.nx.servlet.AlterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.nx.servlet.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterStatusServlet</servlet-name>
    <servlet-class>com.nx.servlet.AlterStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllServlet</servlet-name>
    <servlet-class>com.nx.servlet.FindAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.nx.servlet.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.nx.servlet.DeleteServlet</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>aaa</servlet-name>
    <url-pattern>/aaa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyServlet</servlet-name>
    <url-pattern>/VerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterServlet</servlet-name>
    <url-pattern>/AlterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterStatusServlet</servlet-name>
    <url-pattern>/AlterStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllServlet</servlet-name>
    <url-pattern>/FindAllServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  

  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.nx.Filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/RegistServlet</url-pattern>
  </filter-mapping>
   <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/FindServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/AlterServlet</url-pattern>
  </filter-mapping>  
  
  <filter>
    <filter-name>HeaderFilter</filter-name>
    <filter-class>com.nx.Filter.HeaderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HeaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <session-config>
    <session-timeout>10080</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>